div {
    text-align: center;
}


h1 {
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
    color: white;
}


body{
    background-image: url("orion.jpg");
    background-size: cover;
}

p{
    color: white;
}
